@tailwind base;
@tailwind components;
@tailwind utilities;

/* Selection Styles */
table {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.time-slot.selected {
  background-color: #0d47a1;
  color: white;
}

.time-slot.start-time {
  border-top: 5px solid #00aa30;
}

.time-slot.end-time {
  border-bottom: 5px solid #dc3545;
}

.time-slot.hover {
  background-color: #3a3a3a;
}

/* Transitions */
table td,
.time-slot {
  transition: background-color 0.2s ease, transform 0.3s ease;
}

/* Table Layout and Spacing */
.table-container {
  max-height: 600px;
  overflow-y: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
  padding: 0.75rem;
  color: #eee;
}

.table tbody td:hover,
td:hover {
  background-color: #282828;
}

.table td {
  background-color: #181818;
  color: #eee;
}